#canvas {
    width: 100%;
    height: 100%;
    border-width: 0px;
    margin: 0px;
    overflow: hide;
}

#loading {
    position: fixed;
    text-align: center;
    font-family: 'Minecraftia';
    font-size: 14px;
    margin: auto;
    width: 50%;
    height: 25%;
}
