body {
    background-color:black;
}

#title {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:75%;
}

#singleplayer,#multiplayer {
    display:block;
    top:15em;
    font-family:'Minecraftia';
    font-size:30px;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    background-color:gray;
    color:white;
    border-radius:0px;
    border-style:solid;
    border-width:2px;
    border-color:black;
}

#singleplayer,#multiplayer:active {
    background-color:yellow;
}

#copyright {
    display:block;
    font-size:14px;
    margin-left:auto;
    margin-right:auto;
    font-family:'Minecraftia';
    color:white;
}
